# API 서버 URL
VITE_API_BASE_URL=https://returnmecup-api-dev.onrender.com/api

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyANhU9zSCF3ry8afgOGBXSvP_d-5ZX-4DE
VITE_FIREBASE_AUTH_DOMAIN=bottler-project1.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://bottler-project1-default-rtdb.firebaseio.com/
VITE_FIREBASE_PROJECT_ID=bottler-project1
VITE_FIREBASE_STORAGE_BUCKET=bottler-project1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=432791337179
VITE_FIREBASE_APP_ID=1:432791337179:web:da9e9a63f447fdf306b4fe
VITE_FIREBASE_MEASUREMENT_ID=G-BMQS794S5K

# Picovoice access key
VITE_PC_ACCESS_KEY=XfrmmM6dVG27o3C2BcVu5H4LI01am3oLLGAEUTPR06dO02ixKBF9jA==

# 참고: shopId는 더 이상 환경 변수로 설정하지 않습니다.
# 로그인한 카페의 cafeId가 자동으로 Firebase shopId로 사용됩니다.
# Kakao API (주소 검색)
VITE_KAKAO_API_KEY = 805ffc1952140dcd58ae4657baa719a2
VITE_KAKAO_ADDRESS_URL=https://dapi.kakao.com/v2/local/search/address.json
