# API 서버 URL
VITE_API_BASE_URL=https://returnmecup-api-dev.onrender.com/api

# Tree URL (bottler_tree_app)
VITE_TREE_URL=https://bottler-tree-app.vercel.app/
# VITE_TREE_URL=http://localhost:3000/
