/* src/components/StatDisplay.css */

/* 카페 이름 스타일 */
.cafe-name {
    position: absolute;
    top: 84px; /* 원하는 위치 지정 */
    left: 78px; /* 원하는 위치 지정 */
    font-size: 45px; /* 두 번째 이미지처럼 크기 줄이기 */
    font-weight: bold;
    margin-bottom: 5px; /* 아래 요소와 간격 줄이기 */
    color: #000000;
    font-family: 'Pretendard_SemiBold'
}
/* 개별 통계 항목의 공통 스타일 */
.stat-item {
    display: flex;
    align-items: center; /* 라벨과 값을 세로 중앙 정렬 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 */
}

.total-accumulated-stat {
    position: absolute;
    top: 153px; /* 카페 이름 아래에 오도록 top 값을 조정 */
    left: 119px;
    color: #497FC6;
    font-family: 'Pretendard_SemiBold';
    font-size: 40px;
}
.watering-icon {
    position: absolute;
    top: 161px;
    left: 78px;
    
    width: 37px;   /* 이미지 크기 조정 */
    height: 31px;
    z-index: 15; /* 다른 요소 위에 표시되도록 z-index를 높게 설정 (선택 사항) */
}

/* 오늘/주간 항목을 가로로 묶는 컨테이너 */
.daily-weekly-row {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 7px; /* '오늘'과 '주간' 사이의 간격 */
    font-size: 0.8em; /* 폰트 크기 조정 */
    position: absolute;
    top: 203px;
    left: 78px;
}

/* '오늘'과 '주간' 항목 사이에 세로 구분선 추가 */
.daily-weekly-row .stat-item:first-child::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 32px; /* 구분선 높이 */
    background-color:  #6E88A9; /* 흰색 투명 구분선 */
    margin-left: 2px; /* 구분선과 '주간' 사이 간격 */
    vertical-align: middle; /* 텍스트와 세로 정렬 맞추기 */
}

/* 텍스트 스타일 */
.stat-label {
    font-size: 0.9em; /* 라벨 크기 조정 */
    margin-right: 5px; /* 라벨과 값 사이 간격 */
    color: rgba(255, 255, 255, 0.7); /* 살짝 투명한 흰색 */
}

.stat-value {
    font-size: 1.1em; /* 값 크기 조정 */
    font-weight: bold;
    color: #FFFFFF; /* 흰색 */
}

/* 필요한 경우 특정 항목의 스타일을 세분화 */
.daily-stat .stat-label, .weekly-stat .stat-label {
    color: #6E88A9;
    font-family: 'Pretendard_Light';
    font-size: 36px;
}
.daily-stat .stat-value, .weekly-stat .stat-value {
    color: #6E88A9;
    font-family: 'Pretendard_SemiBold';
    font-weight: bold;
    font-size: 36px;
}