#root {
  margin: 0; /* 마진을 0으로 설정 */
  padding: 0; /* 혹시 모를 패딩을 0으로 설정 */
  width: 100%;
}


@font-face {
    font-family: 'Pretendard_Black'; /* 👈 사용할 폰트 이름 (임의로 지정) */
    src: url('./assets/fonts/Pretendard-Black.subset.woff2') format('woff2'),
         url('./assets/fonts/Pretendard-Black.subset.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard_SemiBold'; /* 👈 사용할 폰트 이름 (임의로 지정) */
    src: url('./assets/fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
         url('./assets/fonts/Pretendard-SemiBold.subset.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard_Light'; /* 👈 사용할 폰트 이름 (임의로 지정) */
    src: url('./assets/fonts/Pretendard-Light.subset.woff2') format('woff2'),
         url('./assets/fonts/Pretendard-Light.subset.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
}